%h1 About
%p
  Endless Sudoku begun during the 48 hours of
  = link_to 'Rails Rumble 2010', 'http://railsrumble.com/'
  but it only got as far as a prototype.
  Since then it has undergone a new development cycle, a better design,
  more features and more are to come.

%h2 Contributers
%ul
  %li
    = link_to 'Thomas R. Koll'
    got the master plan.
  %li
    = link_to 'Ben'
    fixes rvm crap and does development.
  %li
    = link_to 'Markus Prinz', 'http://twitter.com/cypher'
    helped a little during the Rumble.

%h2 Thanks
%p
  Endless thanks to
  = link_to 'scrabb.ly', 'http://scrabb.ly/'
  which obviously was the main source of inspiration. You rock!
