<!DOCTYPE html>
<html>
<head>
  <title>Endless Sudoku</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag %w(jquery raphael board application) %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <h1>Endless Sudoko</h1>
    <p id="about">A game created for
      <a href="http://railsrumble.com/">Railsrumble 2010</a>
      and brought to you by
      <a href="http://ananasblau.com">Thomas R. Koll</a>
      with a little help from
      <a href="http://twitter.com/cypher">Markus Prinz</a><br />
      Heavenly inspried by <a href="http:/scrabb.ly">scrabb.ly</a>
    </p>
  </div>
  <div id="error"></div>
  <%= yield %>

  <%= yield :footer %>
  
  <% if user_signed_in? %>
    <script type="text/javascript">
      user = new User(<%= current_user.as_json %>);
    </script>
  <% end %>
</body>
</html>
