!!! 5
%html
  %head
    %title Endless Sudoku
    = stylesheet_link_tag "application"
    = javascript_include_tag 'jquery'
    = csrf_meta_tag
  %body
    #container{:class => ([controller_name, action_name] == ['boards', 'show']) ? 'wide' : ''}
      #header
        %h1{:style =>"display:inline;"}
          %s{:style => "color: #4F8DC2"}Endless
          = link_to 'Sudoko', '/'

        %span#navigation
          = link_to 'New board', new_board_path
          •
          = link_to 'All boards', boards_path
          •
          = link_to 'Highscores', users_path
          •
          - if user_signed_in?
            = link_to current_user.name || 'Account', user_path(current_user)
            •
            = link_to 'Log out', destroy_user_session_path
          - else
            = link_to 'Log in', new_user_session_path
          •
          = link_to 'About', '/pages/about'

      #error
      #content= yield

      = yield :footer

      = javascript_include_tag %w(raphael board sudoku user game application)
      - if user_signed_in?
        = javascript_tag('user = new User(%s);' % current_user.as_json.to_json.html_safe)
      = render 'layouts/flattr'